<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>주소록:목록화면</title>
	<div th:replace="/addrbook/fragments/inc_header"></div>

    <script th:inline="javascript">
    /*<![CDATA[*/
	function check(id) {
		pwd = prompt('수정/삭제 하려면 비밀번호를 넣으세요');
		document.location.href="/addrbook/edit/"+id;
	}
    /*]]>*/
</script>
</head>
<body>
<div class="container mt-4">
<H2>주소록:목록화면</H2>
<HR/>
<form>
<a href="/addrbook/form">주소록 등록</a><P/>
		<table class="table table-hover">
			<thead class="thead-dark">
			<tr><th>번호</th><th>이 름</th><th>전화번호</th><th>생 일</th><th>회 사</th><th>메 모</th></tr>
			</thead>
			  <tr th:each="ab : ${page.content}">
			   <td><a th:text="${ab.id}" th:onclick="|check(${ab.id})|">ID</a></td>
				<td th:text="${ab.name}">Name</td>
				<td th:text="${ab.tel}">Tel</td>
				<td th:text="${ab.birth}">Birth</td>
				<td th:text="${ab.comdept}">Dept</td>
				<td th:text="${ab.memo}">Memo</td>
			  </tr>
		</table>
</form>
<BR/>
<div class="text-center" th:replace="/addrbook/fragments/paginationbar :: paginationbar"></div>
</div>

</body>
</html>